.image {
  max-width: 400px;
  max-height: 250px;
  border-radius: 25px;
}

@media (max-width: 600px) {
  .image {
    max-width: 300px;
  }
}

@media (max-width: 420px) {
  .image {
    max-width: 270px;
  }
}

@media (max-width: 350px) {
  .image {
    max-width: 220px;
  }
}
